/*
Never gonna give you up
Never gonna let you down
Never gonna turn around
and hurt you
*/
.code-links {
	width: 100%;
}
.spaced-image {
	margin-bottom: 5px;
}
p.emphasis {
	text-align: center;
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
